body {
  background: url(/grass.jpg);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-areas: 
  ". app .";
}

h1 {
  padding: 1.5em;
  background-color: antiquewhite;
  border: thin solid;
  border-radius: 10px;
}

ul {  
  padding-left: 0;
  justify-self: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button,
p {
  font-size: 1.2em;
}

p {
  margin: 0;
  padding: 0.5em;
}

button {
  margin: 1em;
  padding: 1em;
}

h1,
.start {
    box-shadow: 5px 5px 10px black;
}

.hole,
.mole {
  height: 8em;
  width: 8em;
  justify-self: center;
}

.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

.score {
  background-color: antiquewhite;
  font-size: 1.4em;
  border-radius: 10px;
}

.start {
  background-color: antiquewhite;
  padding: 2em;
  border: thin solid;
  border-radius: 10px;
}

#root {
  grid-area: app;
  text-align: center;
}

.hole,
.mole:hover {
  cursor: pointer;
}
